@model IEnumerable<ePatria.Models.QuestionerAnswers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user"></i> Questioner Answers
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            Print
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-questanswer">
                    <thead>
                        <tr>
                            <th>
                                Employee
                            </th>
                            <th>
                                Question
                            </th>
                            <th>
                                Answer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.getEmpName(item.EmployeeID)
                                </td>
                                <td>
                                    @item.getQuestionName(item.QuestionerID)
                                </td>
                                <td>
                                    @item.Answer
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#table-questanswer').DataTable({
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/Content/assets/global/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "aButtons": [
                {
                    "sExtends": "pdf",
                    "mColumns": [0, 1, 2, 3, 4, 5],
                    "sPdfOrientation": "landscape",
                    "sPdfMessage": "Business Process",
                    "sButtonText": "Export to PDF",
                    "sFileName": "BusinessProcess.pdf"
                },
                ]
            }
        });
    });
</script>
<!-- MODAL CREATE END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
