@{
    ViewBag.Title = "AnnualPlanning_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar-o"></i> Annual Planning
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <a href="#modal-create" data-toggle="modal" class="btn btn-pertamina-green">
                                    Add New <i class="fa fa-plus"></i>
                                </a>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-annual-planning">
                    <thead>
                        <tr>
                            <th>
                                Year
                            </th>
                            <th>
                                Audit Universe
                            </th>
                            <th>
                                Engagement Name
                            </th>
                            <th>
                                Period
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("AnnualPlanning_Details", "Designs")">2011</a>
                            </td>
                            <td>
                                Activity A
                            </td>
                            <td>
                                Audit A
                            </td>
                            <td>
                                September 8, 2015 - October 7, 2015
                            </td>
                            <td>
                                On Progress
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                Activity B
                            </td>
                            <td>
                                Audit B
                            </td>
                            <td>
                                September 8, 2015 - October 7, 2015
                            </td>
                            <td>
                                On Progress
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- MODAL CREATE START -->
<div class="modal fade bs-modal-lg" id="modal-create" tabindex="-1" role="basic" aria-hidden="true">
    @Html.Partial("AnnualPlanning_Create")
    <!-- /.modal-dialog -->
</div>
<!-- MODAL CREATE END -->