
@{
    ViewBag.Title = "APM_Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .padding5 {
        padding: 5px;
    }

    ul.ul {
        list-style-type: none;
        float: right;
    }

    li.li {
        display: inline;
        margin: 5px;
    }
</style>

<div class="portlet box red-sunglo">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-eye"></i> Audit Planning Memorandum Details
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <table>
                <tr>
                    <td class="padding5">
                        <b>No. APM</b>
                    </td>
                    <td class="padding5">
                        :
                    </td>
                    <td class="padding5">
                        1234567890
                    </td>
                </tr>
                <tr>
                    <td class="padding5">
                        <b>Activity Name</b>
                    </td>
                    <td class="padding5">
                        :
                    </td>
                    <td class="padding5">
                        Activity A
                    </td>
                </tr>
                <tr>
                    <td class="padding5">
                        <b>Engagement Name</b>
                    </td>
                    <td class="padding5">
                        :
                    </td>
                    <td class="padding5">
                        Engagement A
                    </td>
                </tr>
                <tr>
                    <td class="padding5">
                        <b>Period</b>
                    </td>
                    <td class="padding5">
                        :
                    </td>
                    <td class="padding5">
                        September 8, 2015 - October 7, 2015
                    </td>
                </tr>
                <tr>
                    <td class="padding5">
                        <b>Status</b>
                    </td>
                    <td class="padding5">
                        :
                    </td>
                    <td class="padding5">
                        Pending
                    </td>
                </tr>
                <tr>
                    <td class="padding5" valign="top">
                        <b>Audit Purpose</b>
                    </td>
                    <td class="padding5" valign="top">
                        :
                    </td>
                    <td class="padding5" valign="top">
                        ABCDEF
                    </td>
                </tr>
                <tr>
                    <td class="padding5" valign="top">
                        <b>Audit Scope</b>
                    </td>
                    <td class="padding5" valign="top">
                        :
                    </td>
                    <td class="padding5" valign="top">
                        ABCDEF
                    </td>
                </tr>
                <tr>
                    <td class="padding5" valign="top">
                        <b>Audit Methodology</b>
                    </td>
                    <td class="padding5" valign="top">
                        :
                    </td>
                    <td class="padding5" valign="top">
                        ABCDEF
                    </td>
                </tr>
                <tr>
                    <td class="padding5" valign="top">
                        <b>Data and Document</b>
                    </td>
                    <td class="padding5" valign="top">
                        :
                    </td>
                    <td class="padding5" valign="top">
                        ABCDEF
                    </td>
                </tr>
                <tr>
                    <td class="padding5" valign="top">
                        <b>Attachment</b>
                    </td>
                    <td class="padding5" valign="top">
                        :
                    </td>
                    <td class="padding5" valign="top">
                        Document.pdf
                    </td>
                </tr>
            </table>

            <fieldset style="margin-top:20px;">
                <legend>Period</legend>
                <table>
                    <tr>
                        <td class="padding5">
                            <b>Entry Meeting</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            August 31, 2015 - September 29, 2015
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Walkthrough</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            August 31, 2015 - September 29, 2015
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Field Work</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            August 31, 2015 - September 29, 2015
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Exit Meeting</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            September 8, 2015 - October 7, 2015
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>LHA</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            August 31, 2015 - September 29, 2015
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="margin-top:20px;">
                <legend>Team Structure</legend>
                <table>
                    <tr>
                        <td class="padding5">
                            <b>Responsible Person</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            Nick Roberts
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Supervisor</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            Chuck Norris
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Team Leader</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            Yayan Ruhian
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Member</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            Amin Richman
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b></b>
                        </td>
                        <td class="padding5">
                            
                        </td>
                        <td class="padding5">
                            Greg
                        </td>
                    </tr>
                </table>
            </fieldset>

            <ul class="ul">
                <li class="li">
                    <a href="#modal-edit" data-toggle="modal" class="btn btn-pertamina-blue" title="Edit">
                        <i class="fa fa-edit fa-2x"></i>
                    </a>
                </li>
                <li class="li">
                    <a href="#modal-delete" data-toggle="modal" class="btn btn-pertamina-red" title="Delete">
                        <i class="fa fa-trash-o fa-2x"></i>
                    </a>
                </li>
                <li class="li">
                    <a href="@Url.Action("APM_Index", "Designs")" class="btn btn-default" title="Back">
                        <i class="fa fa-arrow-circle-left fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<!-- END EXAMPLE TABLE PORTLET-->

<!-- MODAL EDIT START -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><i class="fa fa-plus-circle"></i> <b>Add New Organization</b></h4>
            </div>
            <div class="modal-body">
                <form id="edit-organization" role="form">
                    <table id="table-edit-organization">
                        <tr class="padding5">
                            <td class="padding5">
                                Activity Name
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <select name="Activity">
                                    <option value="">Select...</option>
                                    <option value="Activity A">Activity A</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Engagement Name
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <select name="Engagement Name">
                                    <option value="">Select...</option>
                                    <option value="Engagement A">Engagement A</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Period
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <div class="input-group" id="defaultrange">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Type
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <input type="radio" name="Type" value="Planed" /> Planed
                                <input type="radio" name="Type" value="Unplaned" /> Unplaned
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Realization Time
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <div class="input-group" id="defaultrange2">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Auditee
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <select name="Auditee">
                                    <option value="">Select...</option>
                                    <option value="Yayan Ruhian">Yayan Ruhian</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="padding5">
                            <td class="padding5">
                                Attachment
                            </td>
                            <td class="padding5">
                                :
                            </td>
                            <td class="padding5">
                                <input type="file" name="files[]" multiple="">
                            </td>
                        </tr>
                    </table>
                    <div class="modal-footer" style="margin-top:10px; margin-bottom:-10px;">
                        <button type="button" class="btn btn-pertamina-red" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancel</button>
                        <button type="submit" class="btn btn-pertamina-blue" data-dismiss="modal"><i class="fa fa-download"></i> Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- MODAL EDIT END -->
<!-- MODAL DELETE START -->
<div class="modal fade" id="modal-delete" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><b><i class="fa fa-trash-o"></i> Delete Content</b></h4>
            </div>
            <div class="modal-body">
                Are you sure to delete this content?
                <div class="modal-footer" style="margin-top:10px; margin-bottom:-10px;">
                    <button type="button" class="btn btn-pertamina-red" data-dismiss="modal"><i class="fa fa-times-circle"></i> No</button>
                    <button type="submit" class="btn btn-pertamina-blue" data-dismiss="modal"><i class="fa fa-check-circle"></i> Yes</button>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- MODAL DELETE END -->