@{
    ViewBag.Title = "ApprovalLevel_Details";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye"></i> Approval Level Details
                </div>
            </div>
            <div class="portlet-body">
                <form>
                    <table class="table table-striped table-hover table-bordered" id="table-approval-level-details">
                        <thead>
                            <tr>
                                <th>
                                    Department
                                </th>
                                <th>
                                    Features
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Approval
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Department
                                </td>
                                <td>
                                    Planning
                                </td>
                                <td>
                                    Reviewer
                                </td>
                                <td>
                                    John Doe (john_doe)
                                </td>
                            </tr>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <a href="#modal-edit" data-toggle="modal" class="btn btn-pertamina-black">
                                    <i class="fa fa-edit"> Edit</i>
                                </a>
                                <a href="@Url.Action("ApprovalLevel_Index", "Designs")" id="back" class="btn btn-default">
                                    <i class="fa fa-arrow-circle-left"> Back</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- MODAL EDIT START -->
<div class="modal fade" id="modal-edit" tabindex="-1" role="basic" aria-hidden="true">
    @Html.Partial("ApprovalLevel_Edit")
</div>
<!-- MODAL EDIT END -->