@{
    ViewBag.Title = "AuditUniverse_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red-sunglo">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt"></i> Audit Universe
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <a href="#modal-audit-universe" data-toggle="modal" class="btn btn-pertamina-green">
                                    Add New <i class="fa fa-plus"></i>
                                </a>
                                <button class="btn dropdown-toggle" data-toggle="dropdown">
                                    Tools <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            Save as PDF
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Export to Excel
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="table-audit-universe">
                    <thead>
                        <tr>
                            <th>
                                Department
                            </th>
                            <th>
                                Name of Activity
                            </th>
                            <th>
                                Sub Activity
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Year of Audit
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="@Url.Action("AuditUniverse_Details", "Designs")">ABCDE</a>
                            </td>
                            <td>
                                Production
                            </td>
                            <td>
                                Machinery Processing
                            </td>
                            <td>
                                Pending for Approval
                            </td>
                            <td>
                                2014
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                Finishing
                            </td>
                            <td>
                                Packing
                            </td>
                            <td>
                                Approved
                            </td>
                            <td>
                                2014
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<!-- MODAL CREATE START -->
<div class="modal fade bs-modal-lg" id="modal-audit-universe" tabindex="-1" role="basic" aria-hidden="true">
    @Html.Partial("AuditUniverse_Create")
</div>
<!-- MODAL CREATE END -->