<style>
    .padding5 {
        padding: 5px;
    }
</style>


<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><b><i class="fa fa-edit"></i> Edit Employee</b></h4>
        </div>
        <div class="modal-body">
            <form id="edit-employee" role="form">
                <table>
                    <tr>
                        <td class="padding5">
                            <b>Employee Type</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <select name="Employee Type" class="edit">
                                <option value="">Select...</option>
                                <option value="Internal Audit">Internal Audit</option>
                                <option value="Business User">Business User</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Employee Name</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="text" name="Employee Name" value="John Doe">
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>No. PEK</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="text" name="No. PEK" value="1234567890">
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Email</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="email" name="Employee Type" value="john_doe@greget.com">
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Telephone</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="text" name="Telephone" value="0987654321">
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Status</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <select name="Status" class="edit">
                                <option value="">Select...</option>
                                <option value="PWT">PWT</option>
                                <option value="PWTT">PWTT</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Organization</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <select name="Employee Type" class="edit">
                                <option value="">Select...</option>
                                <option value="">ABCDE</option>
                                <option value="">FGHIJ</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="padding5">
                            <b>Position</b>
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <select name="Employee Type" class="edit">
                                <option value="">Select...</option>
                                <option value="">ABCDE</option>
                                <option value="">FGHIJ</option>
                            </select>
                        </td>
                    </tr>
                </table>
                <div class="modal-footer" style="margin-top:20px; margin-bottom-10px;">
                    <button type="button" class="btn btn-pertamina-red" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
                    <button type="button" class="btn btn-pertamina-blue" data-dismiss="modal"><i class="fa fa-download"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
