
<style>
    .padding5 {
        padding: 5px;
    }
</style>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title"><b><i class="fa fa-edit"></i> Edit Position</b></h4>
        </div>
        <div class="modal-body">
            <form id="edit-role" role="form">
                <table id="new-role-table">
                    <tr class="padding5">
                        <td class="padding5">
                            Position
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="text" name="Organization" value="Main Director" style="widh:100%;" />
                        </td>
                    </tr>
                    <tr class="padding5">
                        <td class="padding5">
                            Job Description
                        </td>
                        <td class="padding5">
                            :
                        </td>
                        <td class="padding5">
                            <input type="text" name="Sub Organization" value="Job description here" style="widh:100%;" />
                        </td>
                    </tr>
                </table>
                <div class="modal-footer" style="margin-top:10px; margin-bottom:-10px;">
                    <button type="button" class="btn btn-pertamina-red" data-dismiss="modal"><i class="fa fa-times-circle"></i> Close</button>
                    <button type="submit" class="btn btn-pertamina-blue" data-dismiss="modal"><i class="fa fa-download"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.modal-content -->
</div>

